@import "tailwindcss";

/* Konfigurasi & Kustomisasi Gaya ala Apple menggunakan CSS Variables Tailwind v4 */
@theme {
  --animate-fade-in: fadeIn 0.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Base custom styles untuk Scrollbar halus khas macOS */
@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #D2D2D7;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #86868B;
  }
}